@import '../../styles/main.scss';
.section {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.toDoPage__container {
  background-color: #dff2d8;
  width: 50vw;
  min-height: 100vh;
  overflow-y: auto;
}
