@import '../../styles/mainStyles.scss';

.highestwrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  //display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  perspective: 10px;
  scrollbar-width: none; /* for Firefox */
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
}

.toDoPage__container {
  background-color: whitesmoke;
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toDoPage__container > * {
  margin: 1rem;
}

.toDoPage__container > :last-child {
  margin-bottom: 0;
}

.wrapper::-webkit-scrollbar {
  display: none;
}
