@import '../../styles/mainStyles.scss';

.section {
  min-height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.toDoPage__container {
  background-color: whitesmoke;
  width: 50vw;
  min-height: 100vh;
  overflow-y: auto;
}
