@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Gochi+Hand&family=Jua&display=swap');

// ------------------------ //
//          COLORS          //
// ------------------------ //

$neonBlue: #776871;
$paledogwood: #ffd9ce;
$indianred: #dbdbdb;
$neonRed: #ff3131;

// ------------------------- //
//           FONTS           //
// ------------------------- //
$boom: 'Bangers', cursive;
$primary: 'Jua', sans-serif;
$secondary: 'Gochi Hand', cursive;
