@import '../../styles/mainStyles.scss';

.InputSearch {
  font-size: 3.6rem;

  &__input-wrapper {
    background-color: whitesmoke;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: flex;
    justify-content: center;
  }

  &__input-container {
    background-color: $columbiablue;
    width: 40rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid $columbiablue;
    box-shadow: 0.2rem 0.2rem;
    gap: 2rem;
  }

  &__input {
    font-family: $primary;
    color: $columbiablue;
  }

  &__button {
    font-size: 1.5rem;
    display: flex;
    width: 8rem;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: $indianred;
    border-radius: 10px;
    cursor: pointer;
    height: 3rem;
    color: white;
    transition: background-color 0.2s ease-in-out;

    &:hover,
    &:focus {
      background-color: darken($indianred, 10%);
    }

    &:active {
      background-color: darken($indianred, 20%);
    }
  }
}
