.todoHeader {
  &__header {
    width: 50vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
  }

  &__Foreground,
  &__Midground,
  &__CounterTop {
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }

  &__Foreground {
    height: 80%;
    bottom: 10%;
    transform: translateZ(-5px) scale(1.2);
    z-index: 2;
  }

  &__Midground {
    height: 100%;
    transform: translateZ(-10px) scale(2);
    right: 1%;
  }

  &__CounterTop {
    height: 80%;
    bottom: 0;
    transform: translateZ(0px) scale(1);
  }
}
