@import '../../styles/variables.scss';
.todoHeader {
  &__header {
    width: 50vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__titleWrapper {
    display: flex;
    flex-direction: column;
    font-family: $boom;
    letter-spacing: 4px;
  }

  &__title {
    font-size: 7rem;
    color: white;
    margin-top: 16rem;
    margin-bottom: 0;
    text-shadow: 0 0 5px black;
    text-align: center;
  }

  &__subTitle {
    font-size: 7rem;
    color: white;
    text-shadow: 0 0 5px black;
    margin-top: 0;
    text-align: center;
  }

  &__Foreground,
  &__Midground,
  &__CounterTop {
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
  }

  &__Foreground {
    height: 80%;
    bottom: 3%;
    transform: translateZ(-5px) scale(1.2);
    z-index: 2;
  }

  &__Midground {
    height: 100%;
    transform: translateZ(-10px) scale(2.02);
    right: 1%;
  }

  &__CounterTop {
    height: 80%;
    bottom: -5%;
    transform: translateZ(0px) scale(1);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1440px) {
  .todoHeader {
    &__header {
      margin: 0 auto;
      width: 80vw;
    }
    &__CounterTop {
      left: 0;
    }
  }
}

@media (max-width: 1200px) {
  .todoHeader {
    &__header {
      margin: 0 auto;
    }
    &__title {
      position: relative;
      margin-top: 8rem;
    }
  }
}

@media (max-width: 900px) {
  .todoHeader {
    &__header {
      margin: 0 auto;
    }
    &__title {
      position: relative;
      margin-top: 8rem;
    }
  }
  @media (max-width: 600px) {
    .todoHeader {
      &__header {
        width: unset;
      }
      &__title {
        font-size: 6rem;
      }

      &__subTitle {
        font-size: 6rem;
      }
    }
  }
}
