.todoHeader {
  &__wrapper {
    width: 50vw;
    height: 100vh;
    background-color: red;
    position: relative;
  }

  &__Foreground {
    width: 100%;
    position: absolute;
    height: 80%;
    z-index: 2; /* higher z-index than the midground */
    bottom: 10%;
  }

  &__Midground {
    position: absolute;
    z-index: 1; /* lower z-index than the foreground */
    height: 100%;
    width: 100%;
  }

  &__CounterTop {
    position: absolute;
    z-index: 3;
    height: 80%;
    width: 100%;
    bottom: 0;
  }
}
