@import '../styles/main.scss';

.inputBar {
  font-size: 3.6rem;
}

.inputBar__wrapper {
  display: flex;
}

.inputBar__input {
  border: solid 0.2rem $black;
  font-family: $primary;
  padding: 0.8rem;
  color: $blue;
}
