.ListItem_Wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  height: auto;
  width: 90%;
  line-height: 50px;
  padding: 0 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
